[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SGL"]
	path = SGL
	url = https://github.com/cran/SGL
	shallow = true
	registered = true
